.itemLabel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	background-color: #FFFFFF;
	font-size: 12px;
	font-weight: 600;
	min-width: 40px;
	height: auto;
	box-sizing: border-box;
	padding: 10px;
	word-wrap: break-word;
}

.itemLabel--1 {
	flex: 0;
}

.itemLabel--2 {
	flex: 1;
	color: #175BC0;
}

.itemLabel--2 :hover {
	color: red;
}

.itemLabel--3 {
	flex: 2;
}

.itemLabel--4 {
	flex: 1;
}

.itemLabel--5 {
	flex: 1;
	background-color: #D8E7FF;
	border-radius: 12px;
	justify-content: center;
	padding: 0;
	margin: 8px;
	align-items: center;
	text-align: center;
	height: fit-content;
}

.itemLabel--6 {
	flex: 2;
}

.itemLabel--7 {
	flex: 1;
}