.tablePlaceHolder {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 220px);
	width: 100%;
	justify-content: center;
	align-items: center;
	color: #616161;
	font-size: 14px;
	font-weight: 400;
}