.headLabel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #F5F5F5;
	font-size: 12px;
	font-weight: 600;
	min-width: 40px;
	box-sizing: border-box;
	padding: 10px;
}

.headLabel--1 {
	flex: 0;
}

.headLabel--2 {
	flex: 1;
}

.headLabel--3 {
	flex: 2;
}

.headLabel--4 {
	flex: 1;
}

.headLabel--5 {
	flex: 1;
}

.headLabel--6 {
	flex: 2;
}

.headLabel--7 {
	flex: 1;
}